bento: flux_lora_service:dznhtjtzdkbc47a6
name: ${DEPLOYMENT_NAME}
access_authorization: false

secrets:
  - HF_TOKEN

services:
  flux_lora_service:
    instance_type: gpu.l4.1
    scaling:
      min_replicas: 0
      max_replicas: 1
    envs:
      - name: BENTO_API_URL
        value: "/generate"
    config_overrides:
      traffic:
        timeout: 300
        concurrency: 256
      ports:
        - http: 9090  # internal port
    routes:
      - path: /generate
        method: POST
        type: bentoml
      - path: /ui
        method: GET
        type: asgi
    deployment_strategy: Recreate

cluster: gcp-us-central-1
