bento: flux_lora_service:dznhtjtzdkbc47a6
name: ${DEPLOYMENT_NAME}
access_authorization: false

secrets:
  - HF_TOKEN

services:
  flux_lora_service:
    instance_type: gpu.l4.1
    scaling:
      min_replicas: 0
      max_replicas: 1
    envs:
      - name: HF_TOKEN
    config_overrides:
      traffic:
        timeout: 300
        concurrency: 256
      ports:
      - 5000
      - 8000
    deployment_strategy: Recreate

cluster: gcp-us-central-1
