bento: flux_lora_service:latest
name: diffusers_fast_lora_bentoml
access_authorization: false

secrets:
  - HF_TOKEN

services:
  flux_lora_service:
    instance_type: gpu.l4.1
    scaling:
      min_replicas: 0
      max_replicas: 1
    envs:
      - name: HF_TOKEN
    config_overrides:
      traffic:
        timeout: 300
        concurrency: 256
    deployment_strategy: Recreate

cluster: gcp-us-central-1
