[tool.bentoml.build]
service = "src.predict:FluxLoRAService"
description = "A blazing-fast inference stack for Flux.1-dev with dynamic LoRA hotswapping."
include = ["predict.py", "gradio_frontend.py"]

[tool.bentoml.build.labels]
owner = "Parag Ekbote"
stage = "not-ready"

[tool.bentoml.build.args]
gpu = 1

[tool.bentoml.build.python]
packages = [
    "pillow>=10.3.0",
    "transformers>=4.52.0",
    "accelerate>=1.8.0",
    "diffusers>=0.33.0",
    "bitsandbytes>=0.45.0",
    "huggingface-hub[hf-xet]",
    "peft>=0.15.0",
    "gradio",
    "sentencepiece>=0.1.95",
    "protobuf>=3.20.0",
    "torch>=2.2.0"
]

[tool.bentoml.build.docker]
distro = "debian"
python_version = "3.11"
system_packages = ["libblas-dev", "liblapack-dev", "gfortran"]
