[tool.coverage.run]
source = ["."]
include = ["skorch/*"]
omit = [
    "skorch/tests/*",
    "skorch/_version.py"
]

[tool.coverage.report]
show_missing = true
skip_covered = false

[tool.flake8]
max-line-length = 88
docstring-convention = "numpy"
ignore = "D204,D401"

[mypy]
ignore_missing_imports = True

[project.optional-dependencies]
dev = [
    "isort",
    "flake8",
    "black",
    "pre-commit"
]
test = [
    "pytest>=3.4",
    "pytest-cov",
    "flaky"
]

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "INFO"
addopts = [
    "--cov=src/",
    "--cov-report=term-missing",
    "--cov-config=pyproject.toml",
    "--durations=0"
]
python_files = "test_*.py"
testpaths = ["tests/"]
